# Default policy if no rule matches
defaults:
  allow: true

# Rule list evaluated top-to-bottom; first match wins
rules:
  # block everything under folder 'precipMonthly_corrected' but allow the folder itself to be downloaded
  - match:
      path_glob: "precipMonthly_corrected"
    allow: true
    reason: "allow precip zip to be downloaded"

  # block specific filenames
  - match:
      name_regex: "(?i).*_ET0_.*"
    allow: false
    reason: "Monthly ET files are not downloadable"

  - match:
      name_regex: "(?i).*p_EPSG32618_monthly.*"
    allow: false
    reason: "Monthly precip files are not downloadable"

  # prevent certain extensions
  # - match:
  #     ext_any: [".zip"]
  #   allow: false
  #   reason: "no zipfiles"

      
