{% ckan_extends %}

{% block nums %}
{% endblock %}

{% block package_info_inner %}
  {% if pkg.type == 'collection' %}
  <h3><span class="badge bg-info bg-collection">Collection</span></h3>
  {% endif %}

  {{ super() }}

  {% if pkg.in_collection %}
  {% block collection_info %}
    <h3 class="collection-info">
      <i class="fa fa-layer-group" aria-hidden="true"></i>
      <span>This dataset is part of a collection: <a href="/collection/{{pkg.in_collection[0]}}" target="_blank">{{ h.natcap_get_collection_name(pkg.in_collection[0]) }}</a></span>
    </h3>
  {% endblock %}
  {% endif %}

  {% block package_info_description %}
    <div class="package-description" data-module="natcap-text-linkify">
      {{ pkg.notes }}
    </div>
  {% endblock %}

  {% if pkg.type=='collection' %}
  {% block collection_explore %}
    <h3 class="collection-info">
      <i class="fa fa-layer-group" aria-hidden="true"></i>
      <a href="{% url_for 'dataset.search', extras_in_collection=pkg.name %}">Explore datasets in this Collection</a>
    </h3>
  {% endblock %}
  {% endif %}
{% endblock %}
