{% ckan_extends %}

{# You could remove 'free extras' from the package form like this, but we keep them for this example's tests.
   Overrides the custom fields block with an empty block so that the default CKAN custom fields form does not render.
  {% block custom_fields %}
  {% endblock %}
#}

{% block package_metadata_fields %}
  {% set place_attrs = {
      'data-module': 'autocomplete', 'data-module-tags': '',
      'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {{ form.input('place',
      id='field-places',
      label=_('Places'),
      placeholder=_('eg. GLOBAL'),
      value=h.natcap_convert_list_to_string(data.get('place', [])),
      error=errors.place,
      classes=['control-full'], attrs=place_attrs) }}

  {{ super() }}
{% endblock %}
