{# Build the map once per page #}
{% set meta_map = h.natcap_find_attached_metadata_map(pkg) %}

{# Build a list of YAML resource IDs to hide (values of meta_map) #}
{% set ns = namespace(attached_yaml_ids=[]) %}
{% for _data_id, meta_res in meta_map.items() %}
  {% set _ = ns.attached_yaml_ids.append(meta_res['id']) %}
{% endfor %}

<section id="dataset-resources" class="resources">
  <div class="module-narrow">
    <div class="module-content">
      <h2>{{ _('Download files') }}</h2>
      {% block resource_list %}
        {% if resources %}
          <ul class="{% block resource_list_class %}resource-list{% endblock %}">
            {% block resource_list_inner %}
              {% set can_edit = can_edit or h.check_access('package_update', {'id': pkg.id}) %}
              {% for resource in resources %}
              {# robust YAML detection: prefer format/url over name #}
              {% set fmt = (resource.format or '')|lower %}
              {% set url_l = (resource.url or '')|lower %}
              {% set name_l = (resource.name or '')|lower %}
              {% set is_yaml = ('yml' in fmt)
                                or name_l.endswith('.yml') or name_l.endswith('.yaml')
                                or url_l.endswith('.yml')  or url_l.endswith('.yaml') %}

              

              {# hide only if this YAML is one of the attached YAMLs #}
              {% if not (is_yaml and resource.id in ns.attached_yaml_ids) %}
                {% snippet 'package/snippets/resource_item.html',
                   pkg=pkg, res=resource, can_edit=can_edit, meta_map=meta_map %}
              {% endif %}
            {% endfor %}
          {% endblock %}
          </ul>
        {% else %}
          {% block resource_list_empty %}
            {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
              {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
              <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
              {% endtrans %}
            {% else %}
              <p class="empty">{{ _('This dataset has no data') }}</p>
            {% endif %}
          {% endblock %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
</section>
