{# All directories are collapsible (closed by default); files are normal rows. #}

{% set sources_meta_map = h.natcap_find_source_metadata_map(sources) %}

{# Build list of all attached YAML IDs #}
{% set ns = namespace(attached_yaml_ids=[]) %}
{% for _data_id, meta_res in sources_meta_map.items() %}
  {% set _ = ns.attached_yaml_ids.append(meta_res['name']) %}
{% endfor %}


<ol class="nested-source-list indent-{{ indent }}">
  {% for source in sources %}
    {% set name = source.name or '' %}
    {% set children = source.children if source.children is defined else [] %}
    {% set is_dir = source.type == 'directory' %}
    {% if is_dir %}
      {% set label = name.rstrip('/').rsplit('/', 1)[-1] %}
    {% else %}
      {% set label = name.rsplit('/', 1)[-1].rsplit('.', 1)[0] %}
    {% endif %}

    {# robust YAML detection: prefer format/url over name #}
    {% set name_l = (source.name or '')|lower %}
    {% set is_yaml = name_l.endswith('.yml') or name_l.endswith('.yaml') %}
    {% set attached_meta = sources_meta_map.get(source.name) %}

    {# Hide only if this YAML is one of the attached YAMLs #}
    {% if is_dir or h.natcap_show_resource(name) %}
      {% if is_dir %}
        <li class="nested-source-item src-folder" data-level="{{ indent }}">
          <details class="src-acc">
            <summary class="src-summary">
              <span class="src-caret" aria-hidden="true"></span>
              <div class="resource-item-description">
                <div class="resource-item-type">
                  <img src="/img/icon-filetype-directory.png" alt="" />
                </div>
                <div class="resource-item-name">{{ label }}</div>
              </div>
              <div class="icon-actions">
                {# ADD METADATA PREVIEW ICON FOR DIRECTORIES #}
                {% set gate = h.natcap_get_file_downloadability(c.pkg_dict, source) %}
                {% if attached_meta %}
                  <div class="js-metadata-preview"
                    title="preview metadata"
                    href="#"
                    data-meta-id="{{ attached_meta.id }}"
                    data-meta-name="{{ attached_meta.name }}"
                    data-meta-url="{{ attached_meta.url }}">
                    <i class="fa fa-info-circle" title="Preview metadata"></i>
                  </div>
                {% endif %}
                {% if gate.url %}
                  <a class="icon-button icon-button-download"
                    href="{{ gate.url }}"
                    title="{{ _('Download folder') }}"
                    aria-label="{{ _('Download folder: {name}').format(name=label) }}">
                  </a>
                {% endif %}
              </div>
            </summary>
            <div class="resource-directory-contents">
              {% snippet 'package/snippets/sources_list.html', sources=children, indent=indent+1%}
            </div>
          </details>
        </li>
        {% else %}
          {% if not (is_yaml and source.name in ns.attached_yaml_ids) %}
            <li class="nested-source-item src-file" data-level="{{ indent }}">
              {% set gate = h.natcap_get_file_downloadability(c.pkg_dict, source) | default({'allowed': True}, true) %}
              {% if gate.allowed %}
                <a class="heading" href="{{ source.url }}" aria-label="{{ _('Download resource: {fn}').format(fn=name) }}">
                  <div class="resource-item-description">
                    {% if h.natcap_show_icon(name) %}
                      <div class="resource-item-type">
                        <img src="/img/icon-filetype-{{ h.natcap_get_resource_type_icon_slug(name) }}.png" alt="" />
                        {{ h.natcap_get_ext(name) }}
                      </div>
                    {% endif %}
                    <div class="resource-item-name">{{ label }}</div>
                  </div>
                  <div class="icon-actions">
                    {# ADD METADATA PREVIEW ICON HERE #}
                    {% if attached_meta %}
                      <div class="js-metadata-preview"
                        title="preview metadata"
                        href="#"
                        data-meta-id="{{ attached_meta.id }}"
                        data-meta-name="{{ attached_meta.name }}"
                        data-meta-url="{{ attached_meta.url }}">
                        <i class="fa fa-info-circle" title="Preview metadata"></i>
                      </div>
                    {% endif %}
                    <div class="icon-button icon-button-download"></div>
                  </div>
                </a>
                {% else %}
                {# NOT DOWNLOADABLE #}
                <a class="heading is-disabled"
                   href="javascript:void(0);"
                   aria-disabled="true"
                   title="{{ gate.reason or _('Download not permitted') }}">
                  <div class="resource-item-description">
                    {% if h.natcap_show_icon(name) %}
                      <div class="resource-item-type">
                        <img src="/img/icon-filetype-{{ h.natcap_get_resource_type_icon_slug(name) }}.png" alt="" />
                        {{ h.natcap_get_ext(name) }}
                      </div>
                    {% endif %}
                    <div class="resource-item-name">{{ label }}</div>
                  </div>
                  <div class="icon-actions">
                    {% if attached_meta %}
                      <div class="js-metadata-preview"
                        title="preview metadata"
                        data-meta-id="{{ attached_meta.id }}"
                        data-meta-name="{{ attached_meta.name }}"
                        data-meta-url="{{ attached_meta.url }}">
                        <i class="fa fa-info-circle" title="Preview metadata"></i>
                      </div>
                    {% endif %}
                  </div>
                </a>
              {% endif %}
              
              

          {% endif %}
          </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ol>